@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




    <!--

    FILE TREE VIEW - DISPLAYS FILES USER SELECTED FROM SELECT LOG FILE BUTTON

     -->

    <div class="row">
        <div class="col-md" id="fileTreeView">
            <!--SEARCH BUTTON-->
            <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input id ="searchInputField" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                       aria-label="Search" disabled>
            </form>

            <div id="fileList"></div>

        </div>  <!-- END OF FILE TREE CELL -->
      
    <!--

    TABS - DISPLAY CONTENT AND SEARCH RESULTS

     -->

        <div class="col-md container tab">
          
            <div class="tab-content tab" id="navBar"></div>

            <div id='displayFileContent'></div>

        </div>
        <!--END OF DISPLAY CONTENT CELL-->
    

    </div> <!-- END OF ROW 1 -->
<h2>Test Div</h2>
<div id="testDiv"></div>

