@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="container">
    <!--

    FILE TREE VIEW - DISPLAYS FILES USER SELECTED FROM SELECT LOG FILE BUTTON

     -->

    <div class="row">
        <div class="col-md" id="fileTreeView">
            <!--SEARCH BUTTON-->
            <!-- Load icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <!-- The form -->
            <form class="example" action="action_page.php">
                <input type="text" placeholder="Search selected files..." name="search" id="searchInputField">
                <button type="submit" id="btSearch" onclick="fileInputControlChangeEventHandler()"><i class="fa fa-search"></i></button>
            </form><!--End Search Button-->
            <button id="btOpenFile">Open First File</button>
            <ul id="listing"></ul>

        </div>  <!-- END OF FILE TREE CELL -->


        <!--

        TABS - DISPLAY CONTENT AND SEARCH RESULTS

         -->

        <div class="col-md" id="displayContent">
            <div class="w3-bar w3-black" id="tabs">
                <button class="w3-bar-item w3-button" onclick="openCity('London')">London</button>
                <button class="w3-bar-item w3-button" onclick="openCity('Paris')">Paris</button>
                <button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">Tokyo</button>
            </div>
            <div id="London" class="w3-display-container">
                <textarea rows="20" id="preview"></textarea>
            </div>

            <div id="Paris" class="city" style="display:none">
                <h2>Paris</h2>
                <p>Paris is the capital of France.</p>
            </div>

            <div id="Tokyo" class="city" style="display:none">
                <h2>Tokyo</h2>
                <p>Tokyo is the capital of Japan.</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing elit ut aliquam purus sit amet. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Augue mauris augue neque gravida in fermentum et. Nisi vitae suscipit tellus mauris a diam maecenas. Dignissim convallis aenean et tortor. Sit amet purus gravida quis. Ligula ullamcorper malesuada proin libero nunc consequat. Sollicitudin tempor id eu nisl nunc mi ipsum. Facilisi nullam vehicula ipsum a arcu. Fermentum iaculis eu non diam phasellus vestibulum lorem sed. Eget nulla facilisi etiam dignissim. Morbi tristique senectus et netus et malesuada.
                </p>
            </div>
        </div> <!--END OF DISPLAY CONTENT CELL-->



    </div> <!-- END OF ROW 1 -->


 
    
</div>


