 /****

STYLES FOR HEADER

****/

header {
	/*border-bottom: solid darkblue 15px;*/
	margin: 0px 0px 5px 0px;
	background-color: #000066;
	text-align: center;
}

header > h1 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	margin-top: 0px;
	padding: 15px;
}

/****

STYLES FOR SELECT FILE BUTTON AND FILEPATH LINK

****/

label {
	cursor: pointer;	
}

#selectFile {
	height: 50px;
	background-color: #f2f2f2;
}

#selectFile > p {
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

#btSelectFile {
	font-size: 1.5em;
	padding: 10px;
}

input[type="file"] {
	text-align: center;
	
}



.icon {
	display: inline-block;
	line-height: 30px;
	padding-left: 30px;
	background: url("images/select_file.png") no-repeat scroll 0 0 transparent;
}


/****

STYLES FOR MAIN GRID AND BODY

****/

body {
	background-image: linear-gradient(to right, #000080, #6666ff);
	margin: 0;
	padding: 0;
}



.row {
	
	margin-bottom: 15px;
	padding: 15px;
}

.container {
	background-color: white;
}


.col-md {
	
	padding: 5px;
	margin: 5px;
	background-color: white;
}

p, li {
	font-family: Arial, serif;
}



/****

STYLES FOR SEARCH BAR
Source: W3 Schools

****/

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: darkgray;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: darkblue;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}


/****

STYLES FOR TABS THAT DISPLAY FILE CONTENT/SEARCH RESULTS

****/

#displayContent {
	margin: 25px;
	padding: 10px;
	padding-left: 25px;
	max-width: 45%;
	overflow: auto;
	resize: both;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tabs {
	padding-top: 10px;
}

/****

STYLES FOR FILE TREE

****/
#fileTreeView {
	overflow: auto;
	margin: 25px;
	padding: 10px;
	height: 250px;
	resize: both;
	max-width: 45%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*cursor: move;
	position: absolute;*/
}

/* Remove default bullets */
ul {
  list-style-type: disc;
}

form.example {
	padding-top: 10px;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}


#displayEventViewer {
	background-color: white;
}

footer {
	background-color: #f2f2f2;
}






