 /****

STYLES FOR HEADER

****/

header {
	/*border-bottom: solid darkblue 15px;*/
	margin: 0px 0px 5px 0px;
	background-color: #000066;
	text-align: center;
}

header > h1 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	margin-top: 0px;
	padding: 15px;
}

/****

STYLES FOR SELECT FILE BUTTON AND FILEPATH LINK

****/

label {
	cursor: pointer;	
}

#selectFile {
	height: 50px;
	background-color: #f2f2f2;
}

#selectFile > p {
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

#btSelectFile {
	font-size: 1.5em;
	padding: 10px;
}

input[type="file"] {
	text-align: center;
	
}



.icon {
	display: inline-block;
	line-height: 30px;
	padding-left: 30px;

}


/****

STYLES FOR MAIN GRID AND BODY

****/

body {
	background-image: linear-gradient(to right, #000080, #6666ff);
	margin: 0;
	padding: 0;
}



.row {
	
	margin-bottom: 15px;
	padding: 15px;
}

.container {
	background-color: white;
}


.col-md {
	
	padding: 5px;
	margin: 5px;
	background-color: white;
}

p, li {
	font-family: Arial, serif;
}



/****

STYLES FOR BOOTSTRAP SEARCH BAR

****/



.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #f48fb1;
	box-shadow: 0 1px 0 0 #f48fb1;
}



/****

STYLES FOR FILE TREE

****/
#fileTreeView {
	overflow: auto;
	margin: 25px;
	padding: 10px;
	height: 250px;
	resize: both;
	max-width: 45%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/****

STYLES FOR TABS THAT DISPLAY FILE CONTENT/SEARCH RESULTS

****/


#displayFileContent {
	overflow: auto;
}

#navBar {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tablinks {
	display: inline-block;
}



	/* Style the buttons inside the tab */
.tablinks button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

		/* Change background color of buttons on hover */
	.tablinks button:hover {
		background-color: #ddd;
	}

		/* Create an active/current tablink class */
	.tablinks button.active {
		background-color: #ccc;
	}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	overflow: auto;
}



form.example {
	padding-top: 10px;
}


footer {
	background-color: #f2f2f2;
}






